<!DOCTYPE html>
   <html>
   <head>
       <title>Django two shot</title>
   </head>
   <body>
        <header>
           <h1></h1>
            <nav>
               <ul>
                {%if user.is_authenticated %}
                <li>
                  <a href="{% url "category_list" %}">My Categories</a>
                </li>
                <li>
                  <a href="{% url "create_category" %}">Create a Category</a>
                </li>
                <li>
                  <a href="{% url "account_list" %}">My Account</a>
                </li>
                <li>
                  <a href="{% url "create_account" %}">Create Account</a>
                </li>
                <li>
                    <a href="{% url "create_receipt" %}">Create Receipt</a>
                </li>
                   <li><a href="{% url "logout" %}">Logout</a></li>
                {% else %}
                   <li><a href="{% url "signup" %}">Signup</a></li>

                   <li><a href="{% url "login" %}">Login</a></li>
                {% endif %}
               </ul>
            </nav>
            </header>
            {% block content %}
            {% endblock content %}
   </body>
   </html>
