{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} Hello World {% endblock title %}
  </head>
  <body>
    {% block content %}
    <main>
      <div>
        <h1>Login</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          {% comment %} <label for="username">Username:</label>
          <input type="text" name="username" required />
          <label for="password">Password:</label>
          <input type="password" name="password" required /> {% endcomment %}
          <button type="submit">Login</button>
        </form>
      </div>
    </main>
    {% endblock content %}
  </body>
</html>
